<div>
    <div class="card mt-4 shadow" style="background: none;">
        <h1 class="text-center text-white" style="text-shadow: 4px 4px 5px black;">Sign Up</h1>
    </div>
    <form class="mt-3" [formGroup]="signupForm" (ngSubmit)="onSignUpAuth()">
        <div class="form-group mb-3">
            <label for="fname" class="text-white">Full Name</label>
            <input [class.is-invalid]="getFullName() ?.invalid && getFullName()?.touched" formControlName="fullname" type="text" class="form-control" id="fname" name="fname" placeholder="Full Name">
            <small class="text-danger fw-bolder" [class.d-none]="signupForm.get('fullname')?.untouched || signupForm.get('fullname') ?.valid">Full Name is required</small>
        </div>
        <div class="form-group mb-3">
            <label for="useremail" class="text-white">Email</label>
            <input [class.is-invalid]="getEmail()?.touched && getEmail()?.invalid" formControlName="email" type="email" class="form-control" id="useremail" name="useremail" placeholder="User Email">
            <small class="text-danger fw-bolder" [class.d-none]="getEmail()?.untouched || getEmail()?.valid">Email is required</small>
        </div>
        <div class="form-group mb-3">
            <label for="userpassword" class="text-white">Password</label>
            <input [class.is-invalid]="getPassword()?.touched && getPassword()?.invalid" formControlName="password" type="password" class="form-control" id="userpassword" name="userpassword" placeholder="User Password" >
            <div *ngIf="getPassword()?.touched && getPassword()?.invalid">
                <small *ngIf="getPassword()?.errors?.['required']" class="text-danger fw-bolder">Password is required</small>
                <small *ngIf="getPassword()?.errors?.['minlength']" class="text-danger fw-bolder">Password must be atleast 3 characters</small>
            </div>       
            <small><a class="text-white" href="#" style="text-decoration: none;">Forgot Password?</a></small>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn btn-outline-light fw-bolder fs-5" style="width: 100%;">Sign Up</button>
        </div>     
    </form>

    <div class="mt-1 text-white text-center">
        <a routerLink="/login" style="text-decoration: none; color: white; font-size: 16px;font-weight: bolder;" title="login here">Already a user? Click to Login!</a>
    </div>
</div>