<div class="container-fluid">
    <div class="container">
        <div class="row mt-4" style="height: 450px;">
            <div class="col login-form">
              <!-- <app-login-page></app-login-page> -->
            </div>

            <div class="col-md-6 shadow pt-2" style="box-shadow: 4px 4px 5px white !important; border: 1px solid rgba(255, 255, 255, 0.2);">
                <div class="card bg-light mt-4 mb-3" style="background-image: linear-gradient(to bottom right, #43cea2 , #185a9d);">
                    <h4 class="text-white text-center ps-3 pt-2 pb-2" style="text-shadow: 3px 3px 3px black; font-size: 30px;">Let's To Do!!</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-4 mb-3 input-button" style="background-image: linear-gradient(to bottom right, #43cea2 ,#185a9d);">
                        <input type="text" class="form-control" placeholder="Enter task" [(ngModel)]="todoEntered" (keydown.enter)="onAddTodo()">
                        <button class="btn btn-light" type="button" (click) = "onAddTodo()" ><mat-icon style="color: rgb(0, 0, 0); font-size: 25px;">add_box</mat-icon></button>
                    </div>
                </div>
                <h4 class="text-white mt-4" style="font-weight: bolder;">Todos</h4>                
               
                <ng-template #elseBlock>
                    <div style="text-align: center;font-weight: bolder; font-size: 20px;">Nothing To Display!!!</div>
                </ng-template>                   
                    
                
                <div style="overflow-y: auto; height: 300px;" *ngIf="isTodosExist; else elseBlock">
                    <div class="m-3">
                        <div class="shadow p-2 border rounded" style="background-color:  rgb(85, 71, 71);">
                            <div class="input-group row ps-3 mb-1 mt-1" *ngFor="let todo of todos">
                                <div class="card col-md-9 border-0 bg-info me-2" id="updateDiv" style="font-size: 18px; font-weight: bolder;">{{todo.task_name}}</div>
                                <button class="btn btn-outline-light col me-2" (click) = "editButtonHandler(todo)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"><mat-icon style="color: rgb(21, 230, 39);">edit</mat-icon></button>
                                <button class="btn btn-outline-light col" (click) = "onDeleteTodo(todo)" ><mat-icon style="color: rgb(228, 66, 66);">delete</mat-icon></button>
                            </div>
                        </div>
                    </div>      


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit ToDo</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group p-4 mb-3">
                                <input type="text" class="form-control" placeholder="Update task" [(ngModel)]="editedTodoValue">
                                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click) = "onEditTodo()" >Update</button>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col text-end">
                <button class="btn btn-info" (click)="onLogOutAuth()">Logout</button>
            </div>
        </div>
    </div>
</div>