<div class="container-fluid bg-light">
    <div class="container bg-light">
        <div class="row mt-4" style="height: 500px;">
            <div class="col bg-success login-form">
              <!-- <app-login-page></app-login-page> -->
            </div>

            <div class="col-md-6 bg-white shadow">
                <div class="card bg-primary mt-4 mb-3">
                    <h4 class="text-white text-center ps-3 pt-2 pb-2">Let's To Do!!</h4>
                </div>
                <div class="shadow">
                    <div class="input-group p-4 mb-3 bg-light">
                        <input type="text" class="form-control" placeholder="Enter task" [(ngModel)]="todoEntered" (keydown.enter)="onAddTodo()">
                        <button class="btn btn-outline-success" type="button" (click) = "onAddTodo()" >+</button>
                    </div>
                </div>
                <h4 class="text-primary mt-4">Tasks:</h4>                
               
                <ng-template #elseBlock>
                    <div>nothing to display</div>
                </ng-template>                   
                    
                
                <div style="overflow-y: auto; height: 350px;" *ngIf="isTodosExist; else elseBlock">
                    <div class="m-3">
                        <div class="shadow p-2 border rounded">
                            <div class="input-group row ps-3 mb-1 mt-1" *ngFor="let todo of todos">
                                <div class="card col-md-9 border-0 bg-success" id="updateDiv" style="vertical-align:middle;">{{todo.task_name}}</div>
                                <button class="btn btn-outline-primary col me-2" (click) = "editButtonHandler(todo)" *ngIf="!hasToUpdate" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">E</button>
                                <button class="btn btn-outline-danger col" (click) = "onDeleteTodo(todo)" >D</button>
                                <button class="btn btn-outline-success col" (click) = "onDeleteTodo(todo)" *ngIf="hasToUpdate">U</button>
                            </div>
                        </div>
                    </div>      


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit ToDo</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group p-4 mb-3">
                                <input type="text" class="form-control" placeholder="Update task" [(ngModel)]="editedTodoValue">
                                <button class="btn btn-outline-success" type="button" data-bs-dismiss="modal" (click) = "onEditTodo()" >Update</button>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col bg-success">
                <button class="btn btn-primary" routerLink="/login">Logout</button>
            </div>
        </div>
    </div>
</div>