<div class="container-fluid">
    <div class="row">        
       <app-navbar class="row-navbar"></app-navbar>
    </div>
    <div class="row" style="height: 90vh;background-image: linear-gradient(to bottom right, #43cea2 ,#185a9d);">
        <div class="col">     
            <app-api-news></app-api-news>
            <app-currency-converter-dashboard></app-currency-converter-dashboard>           
        </div>
        <div class="col-md-6">
            <app-transation-item></app-transation-item>
        </div>
        <div class="col">
            <app-banking-services></app-banking-services>
        </div>        
    </div>
</div>